@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}
@font-face {
  font-family: Quart;
  src: url(/assets/fonts/Quart-Regular.ttf);
}
h1,h2,h3,h4,h5,h6{
  font-family: Quart;
}#logoImg{
  transition: .5s ease-in-out;
}
/* navbar  */
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: auto;
  padding: 15px 0px;
}

.nav-right{
  max-width: 73%;
  align-items: center;
}
.navbar-nav{
  color: white;
}
.navbar-nav a:hover{
  color: #C2EE85;
}
.navbar-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0px;
}
.navbar-nav li{
  margin: 0px 13px;
}

.nav-link:hover{
  color: #C2EE85;
}
.active{
  color: #C2EE85 !important;
  
}.dropbtn {
  background-color:black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding:20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color:#c2ee85 ;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}
.navbar-btn .icon-btn{
  font-size: 16px;
  background-color: #C2EE85 ;
  border: #C2EE85;
  font-weight: 700;
  
}
.black{
  background-color: black;
}
.navbar-btn .icon-btn:hover{
  background-color: white;
}
.icons-span{
  margin: 0px 3px;
}
#toogler {
  display: none;
  color: white;
  font-size: 20px;
}
/* heading  */
.team-green{
  color: #45BD54;
  font-weight: 400;
font-size: 64px;
line-height: 77px;
margin-top: 70px;
padding-top: 70px;
}
.para{
  font-weight: 400;
font-size: 24px;
line-height: 29px;
max-width: 52%;
}
.h-100{
  border: none !important;
}
.card-title{
  font-weight: 400;
font-size: 32px;
line-height: 38px;
}
.card-title1{
  font-weight: 700;
font-size: 16px;
line-height: 20px;
}
.card-text{
  font-weight: 400;
font-size: 15px;
line-height: 20px;
}
.round{
  padding-left: 200px !important;
}
.team-yellow{
  color: #C2EE85;
  font-weight: 400;
font-size: 48px;
line-height: 58px;
}
.para3{
  font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.text{
  max-width: 54%;
}
.text .btn{
background-color: #45BD54 ;
border: #45BD54;
}
.text-yellow{
  font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #C2EE85;
max-width: 56%;
}
.para1{
  font-weight: 500;
font-size: 24px;
line-height: 29px;
}
.title2{
  font-weight: 500;
font-size: 40px;
line-height: 48px;
}
.white{
  font-weight: 400;
font-size: 20px;
line-height: 27px;
max-width: 60%;
}
.input-group{
  max-width: 32%;
}
.form-control{
color:  #A5A5A5 !important;
}
.input-group .btn{
  background-color: #45BD54 !important;
  border: #45BD54 !important;
}
.yellow{
  border-bottom:5px solid #C2EE85  !important;
  opacity: 1;
}
.navbar-btn1 .icon-btn{
  font-size: 16px;
  background-color: #C2EE85 ;
  border: #C2EE85;
  font-weight: 700;
  
}
.navbar-btn1 .icon-btn:hover{
  background-color: white;
}


/* Large screen */
@media only screen and (max-width: 1524px){
  .icon4{
    display: none;
  }
  .navbar-nav li {
    margin: 0px 12px;
}.main{
  max-width: 95%;
}.text{
  max-width: 83%;
}.text-yellow{
  max-width: 65%;
}.input-group{
  max-width: 42%;
}.input-group .btn{
  z-index: 0 !important;
}
}







 /* Tab View  */
 @media only screen and (max-width: 992px){
  .navbar-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 0px;
    background: #000;
    flex-direction: column;
    left: 0;
    width: 100%;
    top: -200px;
    transition: .7s ease-in-out;
    position: fixed;
}.dropbtn {
  padding: 0px 16px;
}.dropdown-content a {
  padding: 6px 16px;
}.dropdown-content {
  padding-top: 5px;
}
#toogler {
display: block;
}
.nav-right{
display: none !important;
}
.icon4{
display: none;
}
.navbar-btn{
display: none;
}
.team-green{
  padding-top: 85px;
  margin-top: 0px;
  font-size: 50px;
  line-height: 62px;
}.para {
  font-size: 22px;
  line-height: 25px;
  max-width: 84%;
}.card-title {
  font-size: 25px;
  line-height: 24px;
}.round{
  padding-left: 0px !important;
}.team-yellow{
  font-size: 41px;
    line-height: 45px;
}.text{
  max-width: 78%;
  text-align: center;
}.text-yellow {
  font-size: 34px;
  line-height: 48px;
  max-width: 75%;
}.para3{
  font-size: 15px;
}.para1 {
  font-size: 22px;
  line-height: 27px;
}.white {
  font-size: 18px;
  line-height: 25px;
  max-width: 75%;
}.input-group {
  max-width: 60%;
}
 }


 /* Mobile View  */
@media only screen and (max-width: 768px){
  .team-green{
    font-size: 41px;
    line-height: 45px;
  }.para {
    font-size: 18px;
    line-height: 24px;
    max-width: 95%;
}.team-yellow {
  font-size: 28px;
  line-height: 33px;
}.text-yellow {
  font-size: 26px;
  line-height: 27px;
  max-width: 87%;
}.para1 {
  font-size: 22px;
  line-height: 23px;
}.title2 {
  font-size: 34px;
  line-height: 37px;
}.white {
  font-size: 15px;
  line-height: 22px;
  max-width: 96%;
}.input-group {
  max-width: 97%;
}
}