@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}
@font-face {
  font-family: Quart;
  src: url(/assets/fonts/Quart-Regular.ttf);
}
h1,h2,h3,h4,h5,h6{
  font-family: Quart;
}
/* navbar  */
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}#logoImg{
  transition: .5s ease-in-out;
}.dropbtn {
  background-color:black;
  color: white;
  font-size: 16px;
  padding: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 15px;
}

.dropdown-content a {
  color: white;
  padding:20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color:#c2ee85 ;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: auto;
  padding: 15px 0px;
}

.nav-right{
  max-width: 73%;
  align-items: center;
}
.navbar-nav{
  color: white;
}
.navbar-nav a:hover{
  color: #C2EE85;
}
.navbar-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0px;
}
.navbar-nav li{
  margin: 0px 13px;
}

.nav-link:hover{
  color: #C2EE85;
}
.active{
  color: #C2EE85 !important;
  
}
.navbar-btn .icon-btn{
  font-size: 16px;
  background-color: #C2EE85;
  border: #C2EE85;
  font-weight: 700;
  
}
.black{
  background-color: black;
}
.navbar-btn .icon-btn:hover{
  background-color: white;
}
.icons-span{
  margin: 0px 3px;
}
#toogler {
  display: none;
  color: white;
  font-size: 20px;
}
 /* form with text   */
.contacts{
  max-width: 40% !important;
}
.contact-heading{
  font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #45BD54;
margin-top: 200px;
}
.contact-para{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.contact-para1{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.form{
  margin-top: 210px;
}
.form button {
  background-color: #45BD54 !important;
  border: #45BD54 !important;
}
.form1 ,textarea{
  background-color:#222220 ;
  color: white ;
width: 42%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 5px;
}
.yellow{
  border-bottom:5px solid #C2EE85  !important;
  opacity: 1;
}
.navbar-btn1 .icon-btn{
  font-size: 16px;
  background-color: #C2EE85;
  border: #C2EE85;
  font-weight: 700;
  
}
.navbar-btn1 .icon-btn:hover{
  background-color: white;
}


/* Large screen */
@media only screen and (max-width: 1524px){
  .icon4{
    display: none;
  }
  .navbar-nav li {
    margin: 0px 12px;
}.main{
  max-width: 95%;
}.contact-heading{
  margin-top: 100px;
}
.form{
  margin-top: 150px;
}
}








 /* Tab View  */
 @media only screen and (max-width: 992px){
  .navbar-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 0px;
    background: #000;
    flex-direction: column;
    left: 0;
    width: 100%;
    top: -200px;
    transition: .7s ease-in-out;
    position: fixed;
}.dropbtn {
  padding: 0px 16px;
}.dropdown-content a {
  padding: 6px 16px;
}.dropdown-content {
  padding-top: 5px;
}
#toogler {
display: block;
}
.nav-right{
display: none !important;
}
.icon4{
display: none;
}
.navbar-btn{
display: none;
}.contacts{
  max-width: 80% !important;
}
.contact-heading{
  margin-top: 100px;
  line-height: 64px;
  font-size: 55px;
}
.form{
  margin-top: 70px;
}
.form1{
  width: 70%;
}
}

/* Mobile View  */
@media only screen and (max-width: 768px){
  .contacts{
    max-width: 100% !important;
  }
  .contact-heading {
  margin-top: 90px;
  line-height: 39px;
  font-size: 34px;
}.contact-para{
  font-size: 22px;
    line-height: 26px
}.contact-para1{
  font-size: 16px;
    line-height: 18px;
}.form1{
  width: 100%;
}
}