@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}
@font-face {
  font-family: Quart;
  src: url(/assets/fonts/Quart-Regular.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Quart;
}
#logoImg {
  transition: .5s ease-in-out;
}.dropbtn {
  background-color:black;
  color: white;
  font-size: 16px;
  padding: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 15px;
}

.dropdown-content a {
  color: white;
  padding:20px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color:#c2ee85 ;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: auto;
  padding: 15px 0px;
}

.nav-right {
  max-width: 73%;
  align-items: center;
}
.navbar-nav {
  color: white;
}
.navbar-nav a:hover {
  color: #c2ee85;
}
.navbar-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0px;
}
.navbar-nav li {
  margin: 0px 13px;
}

.nav-link:hover {
  color: #c2ee85;
}
.active {
  color: #c2ee85 !important;
}
.navbar-btn .icon-btn {
  font-size: 16px;
  background-color: #c2ee85;
  border: #c2ee85;
  font-weight: 700;
}
.black {
  background-color: black;
}
.navbar-btn .icon-btn:hover {
  background-color: white;
}
.icons-span {
  margin: 0px 3px;
}
#toogler {
  display: none;
  color: white;
  font-size: 20px;
}
.product-text-yellow {
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  color: #c2ee85;
}
.product-para {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.product button {
  background-color: #45bd54;
  border: #45bd54;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.product {
  max-width: 40% !important;
}
.mobile {
  text-align: center !important;
  margin-top: 35px !important;
}
.bi-chevron-double-down {
  margin-top: 15px !important;
}
.mobile-para {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 96%;
}
.yellowclr button {
  background-color: #45bd54 !important;
  border: #45bd54 !important;
}
.rocket {
  text-align: center !important;
}
.light {
  text-align: center !important;
  margin-top: 30px !important;
}
.tool {
  text-align: center !important;
  margin-top: -10px !important;
}
.garden {
  text-align: center !important;
  margin-top: 7px !important;
}
.ball {
  text-align: center !important;
}
.computer {
  text-align: center !important;
  margin-top: -10px !important;
}
.pet {
  text-align: center !important;
  margin-top: 22px !important;
}
.product-text-green {
  color: #45bd54;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
}
.main-para {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 45%;
  margin: auto;
}
.para {
  color: #c2ee85;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  max-width: 69%;
}
.yellow-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 88%;
}
.yellow button {
  background-color: #45bd54;
  outline: #45bd54;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.shopify {
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #c2ee85;
}
.shopify-para {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  max-width: 93%;
}
.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.card-img-top {
  max-width: 50%;
  margin: auto;
}
.yellow-card {
  border-radius: 24px !important;
  border: 5px solid #c2ee85 !important;
}
.card-footer {
  background-color: #c2ee85 !important;
}
.body-secondary {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #0e0e0e !important;
}
.btn-dark {
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 29px !important;
  background-color: #151513 !important;
}
.btn-dark:hover {
  background-color: white !important;
  color: black !important;
}
.main-para2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 72%;
  margin: auto;
}
.para2 {
  color: #c2ee85;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  max-width: 92%;
}
.yellow {
  border-bottom: 5px solid #c2ee85 !important;
  opacity: 1;
}
.navbar-btn1 .icon-btn {
  font-size: 16px;
  background-color: #c2ee85;
  border: #c2ee85;
  font-weight: 700;
}
.navbar-btn1 .icon-btn:hover {
  background-color: white;
}
#myDIV {
  color: white !important;
}
#one {
  color: white !important;
}
#two {
  color: white !important;
}
#three {
  color: white !important;
}
#four {
  color: white !important;
}
#five {
  color: white !important;
}
#six {
  color: white !important;
}
#seven {
  color: white !important;
}

/* Large screen */
@media only screen and (max-width: 1524px) {
  .icon4 {
    display: none;
  }
  .navbar-nav li {
    margin: 0px 12px;
  }
  .main {
    max-width: 95%;
  }
  .product-text-green {
    font-size: 57px;
  }
  .main-para {
    max-width: 66%;
  }
}

/* Tab View  */
@media only screen and (max-width: 992px) {
  .navbar-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 0px;
    background: #000;
    flex-direction: column;
    left: 0;
    width: 100%;
    top: -200px;
    transition: .7s ease-in-out;
    position: fixed;
  }.dropbtn {
    padding: 0px 16px;
  }.dropdown-content a {
    padding: 6px 16px;
  }.dropdown-content {
    padding-top: 5px;
}

  #toogler {
    display: block;
  }
  .nav-right {
    display: none !important;
  }
  .icon4 {
    display: none;
  }
  .navbar-btn {
    display: none;
  }
  .product {
    max-width: 60% !important;
  }
  .product-text-yellow {
    font-size: 50px;
  }
  .product-para {
    font-size: 20px;
  }
  .square {
    /* text-align: center !important; */
    display: none;
  }
  .product-text-green {
    font-size: 48px;
    line-height: 64px;
  }
  .main-para {
    font-size: 21px;
    max-width: 77%;
  }
  .para {
    max-width: 64%;
    margin: auto;
  }
  .yellow-para {
    max-width: 80%;
    margin: auto;
    padding-top: 23px;
  }
  .yellowclr {
    text-align: center;
  }
  .shopify {
    font-size: 50px;
  }
  .shopify-para {
    max-width: 100%;
    font-size: 22px;
  }
  .main-para2 {
    max-width: 80%;
    font-size: 20px;
  }
  .para2 {
    max-width: 100%;
  }
  .round {
    text-align: center !important;
  }
}

/* Mobile View  */
@media only screen and (max-width: 768px) {
  .product {
    max-width: 100% !important;
  }
  .product-text-yellow {
    font-size: 39px;
  }
  .square {
    display: none;
  }
  .product-text-green {
    font-size: 30px;
    line-height: 40px;
  }
  .main-para {
    max-width: 100%;
    font-size: 17px;
    line-height: 23px;
  }
  .para {
    max-width: 100%;
    font-size: 28px;
    line-height: 35px;
  }
  .yellow-para {
    max-width: 100%;
    padding-top: 10px;
  }
  .shopify {
    font-size: 40px;
    line-height: 45px;
  }
  .shopify-para {
    font-size: 17px;
  }
  .main-para2 {
    max-width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .para2 {
    font-size: 23px;
    line-height: 31px;
  }
  .product-para {
    line-height: 25px;
    font-size: 18px;
  }
  .product button {
    font-size: 20px;
    line-height: 25px;
  }
  .mobile-para {
    font-size: 20px;
  }.round img{
    width: 100% ;
  }
}
